<a href="https://colab.research.google.com/github/user1855/DMC_courses/blob/main/MLDL/C3/ClassCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Funciones Básicas

In [6]:
2+5*6-3+5**2

54

Importar librerias que complementan los análisis o cálculos que realicemos

In [7]:
import math
math.log(10)

2.302585092994046

In [8]:
from math import log

In [9]:
log(10)

2.302585092994046

In [10]:
import time
time.time()

1681919486.7846422

In [11]:
time.time()

1681919494.3857925

In [12]:
a = 1677114863.352211 - 1677114842.2690413
print(a)

21.08316969871521

In [13]:
print("Hola mundo" +" " + str(2))

Hola mundo 2

In [26]:
# print integer and float value
input1= input()
print("Imrpimiendo valor entero : %d, y valor float : %5.2f" % (int(input1), 05.333))

12
Imrpimiendo valor entero : 12, y valor float :  5.33

In [20]:
# print integer and float value
print("Geeks : %2d, Portal : %5.2f" % (1, 05.333))
 
# print integer value
print("Total students : %3d, Boys : %2d" % (240, 120))
 
# print octal value
print("%7.3o" % (25))
 
# print exponential value
print("%10.3E" % (356.08977))

Geeks :  1, Portal :  5.33
Total students : 240, Boys : 120
    031
 3.561E+02

In [27]:
print("\tHola amigos")

	Hola amigos

In [29]:
print("Mis amigos son: \t\n Joan \n\t Jaime")

Mis amigos son:
 Joan
	 Jaime

In [30]:
import time 
time.time()

1681923952.5296643

**Python es un lenguaje orientado a objetos

In [31]:
a=4

In [32]:
a ="esto es una linea de texto"
print(a)

esto es una linea de texto

In [33]:
print("El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundos")

El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundos

In [34]:
print('El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundo')

El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundo

In [35]:
start = time.time()
print('proceso')
time_elapsed = time.time() - start

print(f"El tiempo de demora del proceso es de {time_elapsed} segundos")

proceso
El tiempo de demora del proceso es de 0.0008838176727294922 segundos

In [36]:
print("Jhon's")
print('Jhon"s')

Jhon's
Jhon"s

## Estructuras de Python

**Listas**

> Con corchetes y entre comas

In [37]:
my_list=[1,2,3,"Hola",[4,5], None,43]

In [38]:
my_algorithms = ["lr","dtree","rf","xgboost"]
print(my_algorithms)

['lr', 'dtree', 'rf', 'xgboost']

## Iteraciones

In [39]:
for x in [2,3,4,5]:
  print(x**2)

4
9
16
25

In [40]:
for x in my_algorithms:
  print(f"Ejecutando el algoritmo: {x}")

Ejecutando el algoritmo: lr
Ejecutando el algoritmo: dtree
Ejecutando el algoritmo: rf
Ejecutando el algoritmo: xgboost

In [41]:
6==6

True

In [42]:
9%3 == 0

True

In [43]:
for i in range(1,11):
  if i%3 == 0 :
    text = "es "
  else:
    text = "no es "
  print(f"El número {i} {text}múltiplo de 3")

El número 1 no es múltiplo de 3
El número 2 no es múltiplo de 3
El número 3 es múltiplo de 3
El número 4 no es múltiplo de 3
El número 5 no es múltiplo de 3
El número 6 es múltiplo de 3
El número 7 no es múltiplo de 3
El número 8 no es múltiplo de 3
El número 9 es múltiplo de 3
El número 10 no es múltiplo de 3

In [52]:
a=time.time()
for i in range(1,51):
  print(i) ##No incluye el final 51 
  if i%3 == 0 :
    print(f"El número {i} es múltiplo de 3")
b=time.time()
b-a

1
2
3
El número 3 es múltiplo de 3
4
5
6
El número 6 es múltiplo de 3
7
8
9
El número 9 es múltiplo de 3
10
11
12
El número 12 es múltiplo de 3
13
14
15
El número 15 es múltiplo de 3
16
17
18
El número 18 es múltiplo de 3
19
20
21
El número 21 es múltiplo de 3
22
23
24
El número 24 es múltiplo de 3
25
26
27
El número 27 es múltiplo de 3
28
29
30
El número 30 es múltiplo de 3
31
32
33
El número 33 es múltiplo de 3
34
35
36
El número 36 es múltiplo de 3
37
38
39
El número 39 es múltiplo de 3
40
41
42
El número 42 es múltiplo de 3
43
44
45
El número 45 es múltiplo de 3
46
47
48
El número 48 es múltiplo de 3
49
50

0.005353450775146484

# List comprehension

In [ ]:
[x for x in range(0,11) if x%3 ==0]

[0, 3, 6, 9]

In [ ]:
[x**2 + 2*x for x in range (0,11)]

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120]

# **Funciones**

In [ ]:
def my_greets(name):
  """Esta funcion emite un saludo a la persona que ingrese su nombre"""
  greet = f"Hola {name}, bienvenido al curso !"
  return print(greet)

In [ ]:
my_greets(name = "Jhon")
my_greets("Miguel")

Hola Jhon, bienvenido al curso !
Hola Miguel, bienvenido al curso !

In [ ]:
my_greets?

In [ ]:
def funx_multiple(n1,n2):
  """Esta función evalúa si el n1 es múltipli del n2"""
  if n1%n2 == 0:
    return print(f"El número {n1} si es múltiplo de {n2}")
  else :
    return print(f"El número {n1} no es múltiplo de {n2}")

In [ ]:
funx_multiple(100,3)

El número 100 no es múltiplo de 3

# PANDAS

In [ ]:
import pandas as pd

In [ ]:
pddf = pd.DataFrame({'nombre': ['Julio','Nicolas','Egiber'],
              'nota':[12,15,17]})

In [ ]:
pddf

    nombre  nota
0    Julio    12
1  Nicolas    15
2   Egiber    17

In [ ]:
pddf['columna_nueva'] = [3,4,2]

In [ ]:
pddf

    nombre  nota  columna_nueva
0    Julio    12              3
1  Nicolas    15              4
2   Egiber    17              2

In [ ]:
pddf['columna_nueva2'] =pddf['nota']*100

In [ ]:
pddf

    nombre  nota  columna_nueva  columna_nueva2
0    Julio    12              3            1200
1  Nicolas    15              4            1500
2   Egiber    17              2            1700

In [ ]:
from math import exp
pddf['col_new'] = pddf['nota'].apply(lambda x:1/(1+exp(-x)))
pddf

    nombre  nota  columna_nueva  columna_nueva2   col_new
0    Julio    12              3            1200  0.999994
1  Nicolas    15              4            1500  1.000000
2   Egiber    17              2            1700  1.000000