<a href="https://colab.research.google.com/github/user1855/DMC_courses/blob/main/MLDL/C3/ClassCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Funciones Básicas

In [57]:
2+5*6-3+5**2

54

Importar librerias que complementan los análisis o cálculos que realicemos

In [58]:
import math
math.log(10)

2.302585092994046

In [59]:
from math import log

In [60]:
log(10)

2.302585092994046

In [61]:
time.time()

1677117191.0152915

In [62]:
time.time()

1677117191.0298321

In [63]:
a = 1677114863.352211 - 1677114842.2690413
print(a)

21.08316969871521

In [64]:
print("Hola mundo" +" " + str(2))

Hola mundo 2

In [65]:
print("\tHola amigos")

	Hola amigos

In [66]:
print("Mis amigos son: \t\n Joan \n\t Jaime")

Mis amigos son:
 Joan
	 Jaime

In [67]:
import time 
time.time()

1677117191.0982304

**Python es un lenguaje orientado a objetos

In [68]:
a=4

In [69]:
a ="esto es una linea de texto"
print(a)

esto es una linea de texto

In [70]:
print("El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundos")

El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundos

In [71]:
print('El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundo')

El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundo

In [72]:
start = time.time()
print('proceso')
time_elapsed = time.time() - start

print(f"El tiempo de demora del proceso es de {time_elapsed} segundos")

proceso
El tiempo de demora del proceso es de 0.0001575946807861328 segundos

In [73]:
print("Jhon's")
print('Jhon"s')

Jhon's
Jhon"s

## Estructuras de Python

**Listas**

> Con corchetes y entre comas

In [51]:
my_list=[1,2,3,"Hola",[4,5], None,43]

In [56]:
my_algorithms = ["lr","dtree","rf","xgboost"]
print(my_algorithms)

['lr', 'dtree', 'rf', 'xgboost']

## Iteraciones

In [53]:
for x in [2,3,4,5]:
  print(x**2)

4
9
16
25

In [74]:
for x in my_algorithms:
  print(f"Ejecutando el algoritmo: {x}")

Ejecutando el algoritmo: lr
Ejecutando el algoritmo: dtree
Ejecutando el algoritmo: rf
Ejecutando el algoritmo: xgboost

In [79]:
6==6

True

In [80]:
9%3 == 0

True

In [89]:
for i in range(1,11):
  if i%3 == 0 :
    text = "es "
  else:
    text = "no es "
  print(f"El número {i} {text}múltiplo de 3")

El número 1 no es múltiplo de 3
El número 2 no es múltiplo de 3
El número 3 es múltiplo de 3
El número 4 no es múltiplo de 3
El número 5 no es múltiplo de 3
El número 6 es múltiplo de 3
El número 7 no es múltiplo de 3
El número 8 no es múltiplo de 3
El número 9 es múltiplo de 3
El número 10 no es múltiplo de 3

In [100]:
a=time.time()
for i in range(1,101):
  if i%3 == 0 :
    print(f"El número {i} es múltiplo de 3")
b=time.time()
b-a

El número 3 es múltiplo de 3
El número 6 es múltiplo de 3
El número 9 es múltiplo de 3
El número 12 es múltiplo de 3
El número 15 es múltiplo de 3
El número 18 es múltiplo de 3
El número 21 es múltiplo de 3
El número 24 es múltiplo de 3
El número 27 es múltiplo de 3
El número 30 es múltiplo de 3
El número 33 es múltiplo de 3
El número 36 es múltiplo de 3
El número 39 es múltiplo de 3
El número 42 es múltiplo de 3
El número 45 es múltiplo de 3
El número 48 es múltiplo de 3
El número 51 es múltiplo de 3
El número 54 es múltiplo de 3
El número 57 es múltiplo de 3
El número 60 es múltiplo de 3
El número 63 es múltiplo de 3
El número 66 es múltiplo de 3
El número 69 es múltiplo de 3
El número 72 es múltiplo de 3
El número 75 es múltiplo de 3
El número 78 es múltiplo de 3
El número 81 es múltiplo de 3
El número 84 es múltiplo de 3
El número 87 es múltiplo de 3
El número 90 es múltiplo de 3
El número 93 es múltiplo de 3
El número 96 es múltiplo de 3
El número 99 es múltiplo de 3

0.009275674819946289

# List comprehension

In [101]:
[x for x in range(0,11) if x%3 ==0]

[0, 3, 6, 9]

In [102]:
[x**2 + 2*x for x in range (0,11)]

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120]

# **Funciones**

In [103]:
def my_greets(name):
  """Esta funcion emite un saludo a la persona que ingrese su nombre"""
  greet = f"Hola {name}, bienvenido al curso !"
  return print(greet)

In [106]:
my_greets(name = "Jhon")
my_greets("Miguel")

Hola Jhon, bienvenido al curso !
Hola Miguel, bienvenido al curso !

In [108]:
my_greets?

In [111]:
def funx_multiple(n1,n2):
  """Esta función evalúa si el n1 es múltipli del n2"""
  if n1%n2 == 0:
    return print(f"El número {n1} si es múltiplo de {n2}")
  else :
    return print(f"El número {n1} no es múltiplo de {n2}")

In [113]:
funx_multiple(100,3)

El número 100 no es múltiplo de 3

# PANDAS

In [114]:
import pandas as pd

In [118]:
pddf = pd.DataFrame({'nombre': ['Julio','Nicolas','Egiber'],
              'nota':[12,15,17]})

In [119]:
pddf

    nombre  nota
0    Julio    12
1  Nicolas    15
2   Egiber    17

In [120]:
pddf['columna_nueva'] = [3,4,2]

In [121]:
pddf

    nombre  nota  columna_nueva
0    Julio    12              3
1  Nicolas    15              4
2   Egiber    17              2

In [122]:
pddf['columna_nueva2'] =pddf['nota']*100

In [123]:
pddf

    nombre  nota  columna_nueva  columna_nueva2
0    Julio    12              3            1200
1  Nicolas    15              4            1500
2   Egiber    17              2            1700

In [128]:
from math import exp
pddf['col_new'] = pddf['nota'].apply(lambda x:1/(1+exp(-x)))
pddf

    nombre  nota  columna_nueva  columna_nueva2   col_new
0    Julio    12              3            1200  0.999994
1  Nicolas    15              4            1500  1.000000
2   Egiber    17              2            1700  1.000000